freebird_pcb01-Back.gbl
freebird_pcb01-Front.gtl
freebird_pcb01-Mask_Back.gbs
freebird_pcb01-Mask_Front.gts
freebird_pcb01-PCB_Edges.gbr
freebird_pcb01-PCB_Edges.gml
freebird_pcb01-SilkS_Back.gbo
freebird_pcb01-SilkS_Front.gto
freebird_pcb01.drl
freebird_pcb01.txt
freebird_pcb01.zip

